<div class="header">
  <mat-toolbar>
    <span>
      <a routerLink="/">
        <div class="logo">
          <img src="assets/images/logo-eng.png">
        </div>
      </a>
    </span>
    <span>
      <a routerLinkActive="active-link" routerLink="/">
        <span>List</span>
      </a>
      <a routerLinkActive="active-link" routerLink="/profile">
        <span>Profile</span>
      </a>
      <a routerLinkActive="active-link" routerLink="/login">
        <span>Login</span>
      </a>
      <a routerLinkActive="active-link" routerLink="/signup">
        <span>Register</span>
      </a>
      <a routerLinkActive="active-link" routerLink="/applicationPage">
        <span>Application</span>
      </a>
      <a routerLinkActive="active-link" routerLink="/settings">
        <span>Settings</span>
      </a>
      <a routerLinkActive="active-link" routerLink="/agencyProfile">
        <span>Agency</span>
      </a>
    </span>
  </mat-toolbar>
</div>
