<div id="app">
  <nav class="navbar-navbar">
    <img class="logo" src="assets/images/logo-eng.png">
    <ul class="navbar-nav-ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="signup">Sign Up</a>
      </li>
    </ul>
    <ul class="navbar-nav-ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/settings" class="nav-link" routerLink="settings">Home</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/settings" class="nav-link" routerLink="">Applications</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/settings" class="nav-link" routerLink="hiProfile">Profile</a>
      </li>
      <li class="nav-item" *ngIf="showHeadBoard">
        <a href="/settings" class="nav-link" routerLink="hiProfile">Profile</a>
      </li>
      <li class="nav-item" *ngIf="showHeadBoard">
        <a href="/home" class="showHeadBoard" routerLink="">Home </a>
      </li>
      <li class="nav-item" *ngIf="showStudentBoard">
        <a href="/profile" class="nav-link" routerLink="createApplication">Applications </a>
      </li>
      <li class="nav-item" *ngIf="showStudentBoard">
        <a href="/profile" class="nav-link" routerLink="profile">Profile</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>
</div>