<div class="header">
  <mat-toolbar>
    <span>
      <a routerLink="/">
        <div class="logo">
          <img src="assets/images/logo-eng.png">
        </div>
      </a>
    </span>
    <span>
      <a routerLinkActive="active-link" routerLink="/">
        <span>Home</span>
      </a>
      <a routerLinkActive="active-link" routerLink="/posts">
        <span>Posts</span>
      </a>
      <a routerLinkActive="active-link" routerLink="/login">
        <span>Login</span>
      </a>
      <a routerLinkActive="active-link" routerLink="/signup">
        <span>Signup</span>
      </a>
    </span>
  </mat-toolbar>
</div>
