<h1 class="title">Agency Profile</h1>
<div class="profile">
    <div class="information">
        <h1 class="stat">User Information</h1>
        <div class="Agencyname">
            <h1>Agency Name:</h1>
            <h1>{{currentUser.firstname}} {{currentUser.lastname}}</h1>
        </div>
        <div class="Agencyemail">
            <h1>Agency Email:</h1>
            <h1>{{currentUser.email}}</h1>
        </div>
        <form class="form-table" [formGroup]="changePassForm" (ngSubmit)="changePassword()" novalidate>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input id="password" name="password" matInput type="password" formControlName="password" />
                <mat-error *ngIf="!changePassForm.get('password')?.errors?.minLength">Password length must be bigger
                    than 7 </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>PasswordConfirm</mat-label>
                <input matInput id="passwordConfirm" type="password" formControlName="passwordConfirm" />
                <mat-error *ngIf="!changePassForm.get('confirmPassword')?.errors?.matchValidator">Passwords does not
                    match </mat-error>
            </mat-form-field>
            <button color="primary" mat-raised-button type="submit">
                <span>Change</span>
            </button>
        </form>
    </div>
    <div class="container">
        <form *ngIf="!isSuccessful" [formGroup]="signupForm"  novalidate>
            <h1 class="stat">Add Student</h1>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Ex. Salih" formControlName="firstname" />
                <mat-error *ngIf="!signupForm.get('firstname')?.errors?.required">Firstname is Required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Surname</mat-label>
                <input matInput placeholder="Ex. Coşkun" formControlName="lastname" />
                <mat-error *ngIf="!signupForm.get('lastname')?.errors?.required">Surname is Required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="Ex. salih.coskun@isik.edu.tr" formControlName="email" />
                <mat-error *ngIf="!signupForm.get('email')?.errors?.required">Enter a valid e-mail</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="*******" formControlName="password" />
                <mat-error *ngIf="!signupForm.get('password')?.errors?.minLength">Password length must be bigger than 7
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" placeholder="*******" formControlName="confirmPassword" />
                <mat-error *ngIf="!signupForm.get('confirmPassword')?.errors?.matchValidator">Passwords do not match
                </mat-error>
            </mat-form-field>
            <div class="sign">
                <button [disabled]="!signupForm.valid" mat-raised-button color="accent" type="submit" (click) = "createUser()" > 
                    <span>Register</span>
                </button>
                <div class="alert-alert-warning" *ngIf="isSignUpFailed">
                    Signup failed!<br />{{ errorMessage }}
                </div>
            </div>
        </form>
    </div>
</div>
<mat-tab-group>
    <mat-tab label="Enrolled">
        <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" #matsort1="matSort" matSort
            (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
            <!-- Id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="firstname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> FirstName </th>
                <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Lastname </th>
                <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                <td mat-cell *matCellDef="let element"> {{element.role}} </td>
            </ng-container>

            <!-- actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Evaluate </th>
                <td mat-cell *matCellDef="let element"> <a href="/createApplication">
                        <button mat-flat-button color="primary">{{element.id}}</button></a> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        </table>
        <mat-paginator #MatPaginator1 [pageSizeOptions]="[5, 15, 25]"></mat-paginator>
    </mat-tab>

    <mat-tab label="Applied">
        <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
        </mat-form-field>
        <table mat-table [dataSource]="dataSource2" #matsort2="matSort" matSort
            (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">

            <!-- name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- register_date Column -->
            <ng-container matColumnDef="register_date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> register_date </th>
                <td mat-cell *matCellDef="let element"> {{element.register_date}} </td>
            </ng-container>

            <!-- program Column -->
            <ng-container matColumnDef="program">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> program </th>
                <td mat-cell *matCellDef="let element"> {{element.program}} </td>
            </ng-container>

            <!-- email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- agency_mail Column -->
            <ng-container matColumnDef="agency_mail">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> agency_mail </th>
                <td mat-cell *matCellDef="let element"> {{element.agency_mail}} </td>
            </ng-container>

            <!-- stage Column -->
            <ng-container matColumnDef="stage">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> stage </th>
                <td mat-cell *matCellDef="let element"> {{element.stage}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayToColumn"></tr>
            <tr mat-row *matRowDef="let row; columns: displayToColumn;"></tr>
        </table>
        <mat-paginator #MatPaginator2 [pageSizeOptions]="[5, 15, 25]"></mat-paginator>
    </mat-tab>
</mat-tab-group>