<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 class="title">Agency Profile</h1>
    <div class="profile">
        <div class="information">
            <div class="Agencyname">
                <h1>Agency Name:</h1>
                <h1>Coşkun Agency</h1>
            </div>
            <div class="Agencyemail">
                <h1>Agency Email:</h1>
                <h1>coskunagency@gmail.com</h1>
            </div>
            <form>
                <div class="changePass">
                    <h1>Change Password</h1>
                    <input style="width: 10rem;" type="password">
                    <h1>Confirm Password</h1>
                    <input style="width: 10rem;" type="password">
                    <div class="changeButton">
                        <button>Change</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <mat-tab-group>
        <mat-tab label="Applications">
            <mat-form-field appearance="standard">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
            </mat-form-field>
            <table mat-table [dataSource]="dataSource" #matsort1="matSort" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="firstname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> FirstName </th>
                    <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="lastname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Lastname </th>
                    <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                    <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
            </table>
            <mat-paginator #MatPaginator1 [pageSizeOptions]="[1, 5, 10]"></mat-paginator>
        </mat-tab>
</mat-tab-group>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" #MatPaginator1>
    </mat-paginator>
</body>

</html>