<h1 class="title">Profile</h1>
<div class="profile">
    <div class="information">
        <h1 class="stat">User Information</h1>
        <div class="name">
            <h1>Name:</h1>
            <h1>{{currentUser.firstname}} {{currentUser.lastname}}</h1>
        </div>
        <div class="email">
            <h1>Email:</h1>
            <h1>{{currentUser.email}}</h1>
        </div>
        <div class="degree">
            <h1>Degree:</h1>
            <h1>{{currentUser.roles}}</h1>
        </div>
        <form class="form-table" [formGroup]="changePassForm" (ngSubmit)="changePassword()" novalidate>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input id="password" name="password" matInput type="password" formControlName="password" />
                <mat-error *ngIf="!changePassForm.get('password')?.errors?.minLength">Password length must be bigger
                    than 7 </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>PasswordConfirm</mat-label>
                <input matInput id="passwordConfirm" type="password" formControlName="passwordConfirm" />
                <mat-error *ngIf="!changePassForm.get('confirmPassword')?.errors?.matchValidator">Passwords does not
                    match </mat-error>
            </mat-form-field>
            <button color="primary" mat-raised-button type="submit">
                <span>Change</span>
            </button>
        </form>
    </div>
</div>
<mat-tab-group>
    <mat-tab label="Turkish Applications">
        <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" #matsort1="matSort" matSort
            (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
            <!-- name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- register_date Column -->
            <ng-container matColumnDef="register_date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> register_date </th>
                <td mat-cell *matCellDef="let element"> {{element.register_date}} </td>
            </ng-container>

            <!-- program Column -->
            <ng-container matColumnDef="program">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> program </th>
                <td mat-cell *matCellDef="let element"> {{element.program}} </td>
            </ng-container>

            <!-- email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- agency_mail Column -->
            <ng-container matColumnDef="agency_mail">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> agency_mail </th>
                <td mat-cell *matCellDef="let element"> {{element.agency_mail}} </td>
            </ng-container>

            <!-- stage Column -->
            <ng-container matColumnDef="stage">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> stage </th>
                <td mat-cell *matCellDef="let element"> {{element.stage}} </td>
            </ng-container>

            <!-- examine Column -->
            <ng-container matColumnDef="examine">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Examine </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-flat-button color="primary" (click)="open2(element.user_id)">Examine</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

        </table>
        <mat-paginator #MatPaginator1 [pageSizeOptions]="[5, 15, 25]"></mat-paginator>
    </mat-tab>
    <mat-tab label="International Applications">
        <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>
        <table mat-table [dataSource]="dataSource2" #matsort2="matSort" matSort
            (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
            <!-- name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- register_date Column -->
            <ng-container matColumnDef="register_date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> register_date </th>
                <td mat-cell *matCellDef="let element"> {{element.register_date}} </td>
            </ng-container>

            <!-- program Column -->
            <ng-container matColumnDef="program">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> program </th>
                <td mat-cell *matCellDef="let element"> {{element.program}} </td>
            </ng-container>

            <!-- email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- agency_mail Column -->
            <ng-container matColumnDef="agency_mail">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> agency_mail </th>
                <td mat-cell *matCellDef="let element"> {{element.agency_mail}} </td>
            </ng-container>

            <!-- stage Column -->
            <ng-container matColumnDef="stage">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> stage </th>
                <td mat-cell *matCellDef="let element"> {{element.stage}} </td>
            </ng-container>

            <!-- examine Column -->
            <ng-container matColumnDef="examine">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Examine </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-flat-button color="primary" (click)="open2(element.user_id)">Examine</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        </table>
        <mat-paginator #MatPaginator2 [pageSizeOptions]="[5, 15, 25]"></mat-paginator>
    </mat-tab>
</mat-tab-group>