.mid-part{
    display: flex;
    flex-direction: row;
}
.image{
    display: flex;
    height: 16rem;
    margin: auto;
    padding-right: 3rem;
}

.evaluate,p,a{
    text-decoration: none;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.25rem;
    font-weight: 700;
    color: black;
    border-radius: 15px; 
    justify-content: center; 
    border: 2px solid #1A1A1A;
    box-sizing: border-box;
    display: inline-block;
    line-height: normal;
    padding: 16px 24px;
    width: 100%;
    text-align: center;
}

.evaluate,p,a:hover { 
    color: black;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}