<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="mid-part">
        <div class="image">
            <img src="assets/images/eduhublogo.png">
        </div>
        <div class="evaluate">
            <p><a routerLinkActive="active-link" routerLink="/engApplication">Evaluate International Applications</a></p>
            <p><a routerLinkActive="active-link" routerLink="/trApplication">Evaluate Turkish Applications</a></p>
            <p><a routerLinkActive="active-link" routerLink="/">My Account</a></p>
        </div>
    </div>
</body>

</html>