.title {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 15px;
    margin-left: 11.5rem;
}
.stat {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}
.profile {
    display: flex;
    height: 500px;
    margin-left: 8rem;
    margin-right: -8rem;
    position: relative;
    border: 5px solid #fbb400;
    border-radius: 1.5rem;
    box-shadow: 5px 15px #fbb400; 
}
.form-table{
    display: flex;
    flex-direction: column;
    max-width: 50%;
}
.information {
    display: inline-block;
    height: 250px;
    width: 750px;
    margin: 50px;
}
.name {
    display: flex;
    flex-direction: row;
}
.email {
    display: flex;
    flex-direction: row;
}
.degree {
    display: flex;
    flex-direction: row;
}
.changePass{
    display: flex;
    flex-direction: column;
}

.process {
    display: flex;
    flex-direction: row;
}
.appDate{
    display: flex;
    flex-direction: row;
}
.agencyInfo{
    display: flex;
    flex-direction: column;
}
.agencyEmail{
    display: flex;
    flex-direction: row;
}
.changeButton{
    padding-top: 15px;
    padding-left: 50px;
}