mat-form-field {
  width: 100%;
}

.container{
  display: flex;
  height: 300px;
  position: relative;
  border: 5px solid #fbb400;
  border-radius: 1.5rem;
  box-shadow: 5px 15px #fbb400; 
  flex-direction: column;
  margin: 170px auto;
}

.login{
  margin: auto;
}

button {
  float: right;
  width: 200px;
}

.log{
  display: flex;
  flex-direction: column;
}

.alert-alert-warning{
  padding-top: 5px;
}
