<mat-tab-group>
    <mat-tab label="Courses">
        <mat-tab-group>
            <mat-tab label="Add New Course">
                <div class="homepage">
                    <div class="form">
                        <div class="genel">
                            <div class="left_content">
                                <ul class="table">
                                    <li style="list-style-type: none;" class="table-header">
                                        <div class="col col-1">Course Name</div>
                                        <div class="col col-2">Department Name</div>
                                        <div class="col col-3">Add Button</div>
                                    </li>
                                </ul>
                                <ul class="table">
                                    <li style="list-style-type: none;" class="table-row">
                                        <form class="table-form" [formGroup]="courseForm" (ngSubmit)="addCourse()" novalidate>
                                            <div class="col col-1"><textarea formControlName="courseName"></textarea>
                                            </div>
                                            <div class="col col-2"><textarea formControlName="deptName"></textarea>
                                            </div>
                                            <div class="col col-3">
                                            <a href=""><button class="btn">Add Course</button></a>
                                        </div>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Delete Course">
                <div class="homepage">
                    <div class="form">
                        <div class="genel">
                            <div class="left_content">
                                <ul class="table">
                                    <li style="list-style-type: none;" class="table-header">
                                        <div class="col col-1">Course Name</div>
                                        <div class="col col-2">Department Name</div>
                                        <div class="col col-3">Delete</div>
                                    </li>
                                </ul>
                                <ul class="table">
                                    <li style="list-style-type: none;" class="table-row" *ngFor="let course of courseInfos;">
                                        <div class="table-form">
                                        <div class="col col-1">{{course.name}}</div>
                                        <div class="col col-2">{{course.dept_name}}</div>
                                        <div class="col col-3">
                                        <button class="btn-del" (click)="deleteCourse(course.id)" >Delete</button>
                                        </div>
                                    </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="Users">
        <mat-tab-group>
            <mat-tab label="Change User Role">
                <div class="homepage">
                    <div class="form">
                        <div class="genel">
                            <div class="left_content">
                                <ul class="table">
                                    <li class="table-header">
                                        <div class="col col-1">Name Surname</div>
                                        <div class="col col-2">E-mail</div>
                                        <div class="col col-3">Role</div>
                                        <div class="col col-4">Change Buttons</div>
                                    </li>
                                </ul>
                                <ul class="table">
                                    <li class="table-row" *ngFor="let user of userInfos;">
                                        <div *ngIf="user.role!='student'" class="table-form">
                                        <div class="col col-1">{{user.firstname}} {{user.lastname}}</div>
                                        <div class="col col-2">{{user.email}}</div>
                                        <div class="col col-3">{{user.role}}</div>
                                        <div class="col col-4">
                                        <button class="btn"  (click)="updateInstitute(user.id)">Institute</button>
                                        <button class="btn"  (click)="updateHeadOfDept(user.id)">HeadOfDept</button>
                                    </div>
                                    </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Delete User">
                <div class="homepage">
                    <div class="form">
                        <div class="genel">
                            <div class="left_content">
                                <ul class="table">
                                    <li class="table-header">
                                        <div class="col col-1">Name Surname</div>
                                        <div class="col col-2">E-mail</div>
                                        <div class="col col-3">Role</div>
                                        <div class="col col-4">Delete</div>
                                    </li>
                                </ul>
                                <ul class="table">
                                    <li style="list-style-type: none;" class="table-row" *ngFor="let user of userInfos;">
                                        <div class="table-form">
                                        <div class="col col-1">{{user.firstname}} {{user.lastname}}</div>
                                        <div class="col col-2">{{user.email}}</div>
                                        <div class="col col-3">{{user.role}}</div>
                                        <div class="col col4">
                                        <button class="btn-del" (click)="deleteUser(user.id)" >Delete</button>
                                    </div>
                                    </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="Quota">
        <mat-tab-group>
            <mat-tab label="Change Quota">
                <div class="homepage">
                    <div class="form">
                        <div class="genel">
                            <div class="left_content">
                                <ul class="table">
                                    <li style="list-style-type: none;" class="table-header">
                                        <div class="col col-1">Program Name</div>
                                        <div class="col col-2">Program Degree</div>
                                        <div class="col col-3">Initial Quota</div>
                                        <div class="col col-4">Current Quota</div>
                                        <div class="col col-5">Change Quota</div>
                                        <div class="col col-6">Choose Scholarship</div>
                                        <div class="col col-7">Update Buttons</div>
                                    </li>
                                </ul>
                                <ul class="table">
                                    <li style="list-style-type: none;" class="table-row" *ngFor="let program of programInfos;">
                                        <div class="table-form">
                                        <div class="col col-1">{{program.name}}</div>
                                        <div class="col col-2">{{program.degree}}</div>
                                        <div class="col col-3">10</div>
                                        <div class="col col-4">5</div>
                                        <div class="col col-5"><textarea></textarea></div>
                                        <div class="col col-6"><mat-radio-group class="radio" aria-label="Select an option">
                                            <mat-radio-button value="1">25%</mat-radio-button>
                                            <mat-radio-button value="2">50%</mat-radio-button>
                                            <mat-radio-button value="3">75%</mat-radio-button>
                                            <mat-radio-button value="4">100%</mat-radio-button>
                                        </mat-radio-group></div>
                                        <div class="col col-7">
                                        <button class="btn-del">Update</button>
                                    </div>
                                </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
</mat-tab-group>