<mat-tab-group>
    <mat-tab label="Courses">
        <mat-tab-group>
            <mat-tab label="Add New Course">
                <div class="homepage">
                    <div class="form">
                        <div class="genel">
                            <div class="left_content">
                                <ul class="table">
                                    <li style="list-style-type: none;" class="table-header">
                                        <div class="col col-1">Course Name</div>
                                        <div class="col col-2">Department Name</div>
                                        <div class="col col-3">Operation</div>
                                    </li>
                                </ul>
                                <ul class="table">
                                    <li style="list-style-type: none;" class="table-row">
                                        <form class="table-form" [formGroup]="courseForm" (ngSubmit)="addCourse()"
                                            novalidate>
                                            <div class="col col-1"><textarea formControlName="courseName"></textarea>
                                            </div>
                                            <div class="col col-2"><textarea formControlName="deptName"></textarea>
                                            </div>
                                            <div class="col col-3">
                                                <a href=""><button class="btn">Add Course</button></a>
                                            </div>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Delete Course">
                <div class="homepage">
                    <div class="form">
                        <div class="genel">
                            <div class="left_content">
                                <ul class="table">
                                    <li style="list-style-type: none;" class="table-header">
                                        <div class="col col-1">Course Name</div>
                                        <div class="col col-2">Department Name</div>
                                        <div class="col col-3">Operation</div>
                                    </li>
                                </ul>
                                <ul class="table">
                                    <li style="list-style-type: none;" class="table-row"
                                        *ngFor="let course of courseInfos;">
                                        <div class="table-form">
                                            <div class="col col-1">{{course.name}}</div>
                                            <div class="col col-2">{{course.dept_name}}</div>
                                            <div class="col col-3">
                                                <button class="btn-del"
                                                    (click)="deleteCourse(course.id)">Delete</button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="Users">
        <mat-tab-group>
            <mat-tab label="Delete User">
                <div class="homepage">
                    <div class="form">
                        <div class="genel">
                            <div class="left_content">
                                <ul class="table">
                                    <li class="table-header">
                                        <div class="col col-1">Name Surname</div>
                                        <div class="col col-2">E-mail</div>
                                        <div class="col col-3">Role</div>
                                        <div class="col col-4">Operation</div>
                                    </li>
                                </ul>
                                <ul class="table">
                                    <li style="list-style-type: none;" class="table-row"
                                        *ngFor="let user of userInfos;">
                                        <div class="table-form">
                                            <div class="col col-1">{{user.firstname}} {{user.lastname}}</div>
                                            <div class="col col-2">{{user.email}}</div>
                                            <div class="col col-3">{{user.role}}</div>
                                            <div class="col col4">
                                                <button class="btn-del" (click)="deleteUser(user.id)">Delete</button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="Quota">
        <mat-tab-group>
            <mat-tab label="Set Program and Quota">
                <div class="homepage">
                    <div class="form">
                        <div class="genel">
                            <div class="left_content">
                                <ul class="table">
                                    <li style="list-style-type: none;" class="table-header">
                                        <div class="col col-10">Year</div>
                                        <div class="col col-20">Semester</div>
                                        <div class="col col-30">Program Name</div>
                                        <div class="col col-40">Schoolarship</div>
                                        <div class="col col-50">Set Quota</div>
                                        <div class="col col-60">Operation</div>
                                    </li>
                                </ul>
                                <form [formGroup]="quotaForm" id="msform" (ngSubmit)="changeQuota()">
                                    <ul class="table">

                                        <li style="list-style-type: none;" class="table-row">
                                            <div class="table-form">
                                                <div class="col col-10">
                                                    <div class="deneme">
                                                    <mat-form-field appearance="fill">
                                                        <mat-label>Year</mat-label>
                                                        <mat-select matInput name="year"
                                                        [(ngModel)]="quotaYearChooice"
                                                        formControlName='quotaYearChooice'>
                                                            <mat-option *ngFor="let year of yearInfo" [value]="year.academic_year">
                                                                {{year.academic_year}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                </div>
                                                <div class="col col-20">
                                                    <div class="deneme">
                                                    <mat-form-field appearance="fill">
                                                        <mat-label>Semester</mat-label>
                                                        <mat-select matInput name="semester"
                                                        [(ngModel)]="quotaSemesterChooice"
                                                        formControlName='quotaSemesterChooice'
                                                        [disabled] = "quotaYearChooice == null"
                                                        >
                                                            <mat-option value = "fall" (click)='getQuotaProgramInfos()' >
                                                                Fall
                                                            </mat-option>
                                                            <mat-option value ="spring" (click)='getQuotaProgramInfos()' >
                                                                Spring
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                </div>
                                                <div class="col col-30">
                                                    <div class="deneme">
                                                        <mat-form-field appearance="fill">
                                                            <mat-label>Program Type</mat-label>
                                                            <mat-select matInput name="program"
                                                                [(ngModel)]="quotaProgramChooice"
                                                                formControlName='quotaProgramChooice'
                                                                [disabled] = "quotaSemesterChooice == null || quotaYearChooice == null">
                                                                <mat-option *ngFor="let program of quotaCourseInfos"
                                                                    [value]="program.name"
                                                                    (click)='setProgram(program.name)'>
                                                                    {{program.name}} {{program.degree}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                </div>
                                                </div>
                                                <div class="col col-40">
                                                    <mat-radio-group class="radio" aria-label="Select an option"
                                                        [(ngModel)]="chooseSchoolar"
                                                        formControlName='quotaSchoolarChoice'
                                                        [disabled]="programChooice == null "
                                                        *ngFor="let schoolar of schoolarInfos"
                                                        >
                                                        <mat-radio-button  [value]="schoolar.percent" [disabled] = "!schoolar.canUpdated">
                                                            {{schoolar.percent}}%
                                                        </mat-radio-button>
                                                        <!-- <mat-radio-button value="25" (click)='setScholar(25)'>25%
                                                        </mat-radio-button>
                                                        <mat-radio-button value="50" (click)='setScholar(50)'>50%
                                                        </mat-radio-button>
                                                        <mat-radio-button value="75" (click)='setScholar(75)'>75%
                                                        </mat-radio-button>
                                                        <mat-radio-button value="100" (click)='setScholar(100)'>100%
                                                        </mat-radio-button> -->
                                                    </mat-radio-group>
                                                </div>
                                                <div class="col col-50"><input formControlName='quotaNumber'
                                                        style="height:25px" type="text"></div>
                                                <div class="col col-60">
                                                    <button class="btn-del" type = "submit">Update</button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Quota Information">
                <div class="filter">
                    <input
                        style="width: 50%; display: block; position: relative; flex: auto; min-width: 0; padding-top: 10px; border-radius: 0.5rem;"
                        type="text" name="search" [(ngModel)]="searchText" placeholder="Filter">
                </div>
                <div class="homepage">
                    <div class="form">
                        <div class="genel">
                            <div class="left_content">
                                <ul class="table">
                                    <li style="list-style-type: none;" class="table-header">
                                        <div class="col col-1">Program Name</div>
                                        <div class="col col-2">Program Degree</div>
                                        <div class="col col-3">Scholarship</div>
                                        <div class="col col-4">Initial Quota</div>
                                        <div class="col col-5">Available Quota</div>
                                    </li>
                                </ul>
                                <ul class="table">
                                    <li style="list-style-type: none;" class="table-row"
                                        *ngFor="let qp of quotaInfos | filter:searchText">
                                        <div class="table-form">
                                            <div class="col col-1">{{qp.name}}</div>
                                            <div class="col col-2">{{qp.degree}}</div>
                                            <div class="col col-3">{{qp.percent}}</div>
                                            <div class="col col-4">{{qp.initial_quota}}</div>
                                            <div class="col col-5">{{qp.remaining_quota}}</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
</mat-tab-group>