<div class="modal-header">
    <h4 class="modal-title">DOCUMENTS !</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close('Close click')"></button>
</div>
<div class="modal-body">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Document Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody *ngFor="let file of fileInfos">
            <tr>
                <td>
                    <p>{{ file.title }}</p>
                </td>
                <td>
                    <a class="file-name" href="{{ file.url }}" >{{ file.name }}</a>
                </td>
                <td *ngIf="file.is_controlled">
                    <p *ngIf="file.is_approve" > Accepted </p>
                    <p *ngIf="!file.is_approve" > Rejected </p>
                </td>
                <td *ngIf="!file.is_controlled">
                    <button type="button" style="margin-right: 10px; width: 100px" class="btn btn-secondary" (click) = "acceptDocument(user_id, file.name)" >Accept</button>
                    <button type="button" style="width: 100px" class="btn btn-danger" class="btn btn-danger" (click) = "open(user_id, file.name)">Reject</button>
                </td>
                

            </tr>
        </tbody>
    </table>
</div>
<div class=" modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>