<div class="modal-header">
    <h4 class="modal-title">DOCUMENTS!</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Document Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody *ngFor="let file of fileInfos">
            <tr>
                <td>
                    <p>{{ file.title }}</p>
                </td>
                <td>
                    <p>{{ file.name }}</p>
                </td>
                <td>
                    <button type="button" style="margin-right: 10px; width: 100px" class="btn btn-secondary">Accept</button>
                    <button type="button" style="width: 100px" class="btn btn-danger" (click) = "open(user_id)">Reject</button>
                </td>
                

            </tr>
        </tbody>
    </table>
</div>
<div class=" modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>