.container{
    display: flex;
    height: 300px;
    margin-left: 8rem;
    margin-right: -8rem;
    position: relative;
    border: 5px solid #fbb400;
    border-radius: 1.5rem;
    box-shadow: 5px 15px #fbb400; 
}

.pass{
    margin: auto;
}