    <div class="mid-part">
        <form>
            <div class="name">
                <div class="title">
                    <h1>Please write your name</h1>
                    <input type="text">
                </div>
            </div>
            <div class="department">
                <div class="title">
                    <h1>Please write your department</h1>
                    <input type="text">
                </div>
            </div>
            <div class="degree">
                <div class="title">
                    <h1>Please select your degree</h1>
                </div>
                <div class="images">
                    <img class="img" src="/assets/images/Bachelor.jpg">
                    <label for="01">Bachelor</label>
                    <input id="01" type="radio" name="r" value="1" checked>
                    <img class="img" src="/assets/images/Master.jpg">
                    <label for="02">Master</label>
                    <input id="02" type="radio" name="r" value="2">
                    <img class="img" src="/assets/images/PhD.jpg">
                    <label for="03">PhD</label>
                    <input id="03" type="radio" name="r" value="3">
                </div>
            </div>
            <div class="document">
                <div class="title">
                    <h1>Please upload your document</h1>
                    <mat-icon>create_new_folder</mat-icon>
                </div>
            </div>
            <div class="send-button">
                <button>Send</button>
            </div>
        </form>
    </div>